body {
    background-color: #000000;
}	

h1 {
    color:#6eff19;
    font-family: courier;
    font-size:300%;
    text-align: center; 
}

h4 {
    color:#6eff19;
    font-family: verdana;
    font-size:300%;
    text-align: center;
}

p,  li {
    color:#6eff19;
    text-decoration: none;
    font-family: courier;
    font-size:120%;
}



.jumbotron .indexcontainer div {
    bottom: 0;
}

.jumbo .container {
    right:20px;
    text-align: center;
}
.jumbo .container h1 {
    font-size:300%;
    text-align: left;
}

.jumbo .container p {
}

.jumbo .container button {
    font-family: verdana;
    font-size:150%;
    text-align: center;
}

.nav .container div {
    width: 20%;
    float: left;
    text-align: center;
}
.nav .container a {
    color:#6eff19;
    text-decoration: none;
    font-family: courier;
    font-size:160%;
    text-align: center;
}

#photos {
	width: 55%;
	margin-left: auto ;
  	margin-right: auto ;
}

#photos div {
    width: 33%;
    border: 1px dashed #ccc;
    float: left;
}

#rupa img {
width:100%;
height:100%;
}

#gullu img {
width:100%;
height:100%;
}

#sumti img {
width:100%;
height:100%;
}

#wrapper {
	width: 55%;
	margin-left: auto ;
  	margin-right: auto ;
    text-align: center;
}

#wrapper div {
    width: 33%;
    border: 1px dashed #ccc;
    float: left;
}

#quote {
    float: left;
}
